<div class="row">
	<div class="small-10 small-centered columns">
		<div class="row">
			<div class="small-6 columns left">
				<h1>Edit Pix</h1>
			</div>
		</div>
		<%= form_for @picture do |f| %>
			<div class="row">
				<div class="small-3 columns">
					<%= f.label "artist", class: "right inline" %> 
				</div>
				<div class="small-9 columns">
					<%= f.text_field "artist", class: "right-label"%>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<%= f.label "title", class: "right inline" %> 
				</div>
				<div class="small-9 columns">
					<%= f.text_field "title", class: "right-label" %>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<%= f.label "url", class: "right inline" %>
				</div>
				<div class="small-9 columns">
					<%= f.text_field "url", class: "right-label" %>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<%= submit_tag "Save" %>
				</div>
			</div>
		<% end %>
	</div>
</div>