<h1>Pix (<%= @pictures.length %>) </h1>

<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>  
<p><a href="/pictures/<%= picture[:id]%>"><%= picture[:title] %></a>, <%= picture[:artist] %></p>  
<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>

<% end %>