<div class="row">
	<div class="small-10 small-centered columns">
		<h1>The <%= @most_recent_pictures.length %> Most Recent Pix  </h1>

		<ul data-orbit>
		<% @most_recent_pictures.each do |picture| %>  
			<li><img src="<%= picture[:url]%>">
				<div class="orbit-caption">
					<%= picture[:title] %></a>, <%= picture[:artist] %>
				</div> 
			</li> 


		<% end %>
		</ul>

		<p>&nbsp;</p>

		<h1>Older Pictures</h1>
		<ul class="no-bullet">
		<% @pictures.created_before(1.day.ago).each do |picture| %>  
			<li><p><a href="/pictures/<%= picture[:id]%>"><%= picture[:title] %></a>, <%= picture[:artist] %></p> </li>

		<% end %>
		</ul>
		<p>&nbsp;</p>


		<h1>All Pictures</h1>
		<ol>
		<% @pictures.each do |picture| %>  
		<li><p><a href="/pictures/<%= picture[:id]%>"><%= picture[:title] %></a>, <%= picture[:artist] %></p> </li> 


		<% end %>
		</ol>

		<p>&nbsp;</p>


		<p>Most Recent Additions: <%= @pictures.created_before(1.day.ago).count %></p>

		<p><%= @pictures.all.length %> Pictures in Database </p>

		<p></p>

	</div>
</div>