<div class="row">
	<div class="small-10 small-centered columns">
		<ul data-orbit>
		<% @most_recent_pictures.each do |picture| %>  
			<li><%= image_tag picture.pixfile.url %>
				<div class="orbit-caption">
					<%= picture[:title] %></a>, <%= picture[:artist] %>
				</div> 
			</li> 


		<% end %>
		</ul>

		<div class="row">
			<div class="small-6 columns">
				<div class="panel">
					<h2>Older Pictures</h2>
					<ul class="no-bullet">
					<% @pictures.created_before(1.day.ago).each do |picture| %>  
						<li><p><a href="/pictures/<%= picture[:id]%>"><%= picture[:title] %></a>, <%= picture[:artist] %></p> </li>
					<% end %>
					</ul>
				</div>
			</div>
			<div class="small-6 columns">
				<div class="panel">
					<h2>All Pictures</h2>
					<ul class="no-bullet">
					<% @pictures.each do |picture| %>  
					<li><p><a href="/pictures/<%= picture[:id]%>"><%= picture[:title] %></a>, <%= picture[:artist] %></p> </li> 
					<% end %>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 small-centered columns">
				<div class="panel callout radius">
					<p>Most Recent Additions: <%= @pictures.created_before(1.day.ago).count %></p>
					<p><%= @pictures.all.length %> Pictures in Database </p>
				</div>
			</div>
		</div>
	</div>
</div>