<div class="row">
	<div class="small-10 small-centered columns">
		<div class="row">
			<div class="small-offset-1 small-11 columns left">
				<h1>Add a picture</h1>
			</div>
		</div>
		<%= form_for @picture, :html => { :multipart => true } do |f| %> 
			<div class="row">
				<div class="small-2 columns">
					<%= f.label "artist", class: "right inline radius" %>
				</div>
				<div class="small-10 columns">
					<%= f.text_field "artist", class: "right-label radius" %>
				</div>
			</div>
			<div class="row">
				<div class="small-2 columns">
					<%= f.label "title", class: "right inline radius"%>
				</div>
				<div class="small-10 columns">
					<%= f.text_field "title", class: "right-label radius" %>
				</div>
			</div>
			<div class="row">
				<div class="small-2 columns">
					<%= f.label "url", class: "right inline radius" %>
				</div>
				<div class="small-10 columns">
					<%= f.text_field "url", class: "right-label radius" %> <br>
					<%= f.file_field :pixfile %>
				</div>


			</div>
			<div class="row">
				<div class="small-offset-2 small-10 columns">
					<%= f.submit class: "button left inline" %> 
				</div>
			</div>

		<% end %>
	</div>
</div>