<div class="row">
	<div class="small-8 small-centered columns ">
		<%= link_to "Back to Pictures", pictures_url, class: "button" %> | <%= link_to "Edit", edit_picture_path(@picture[:id]), class: "button round" %> | <%= link_to "Delete", @picture,  method: :delete, data: { confirm: "Are you sure you want to delete this picture?" }, class: "button" %>
	</div>
</div> 
<div class="row">
	<div class="small-10 small-centered columns">

	<p><%= @picture[:title]%>, <%= @picture[:artist]%></p>

	<img src="<%= @picture[:url]%>">

	</div>

</div>

